// TODO replace with vars
.mrl-small {
  margin-left: 10px;
}

.mrr-small {
  margin-right: 10px;
}

.mr-small-vert {
  margin: 10px 0;
}

.mrl-medium {
  margin-left: 20px;
}

.mrt-medium {
  margin-top: 20px;
}

.mrb-medium {
  margin-bottom: 20px;
}

.mrt-big {
  margin-top: 30px !important;
}

.no-padding {
  padding: 0;
}

