//mdi
//mdi-dark
//mdi-18px
//mdi-map-marker-radius
//mdi-18px
//mdi-dog
//mdi-dog-service
//mdi-gender-non-binary
//mdi-palette
//mdi-calendar
//mdi-36px
//mdi-account
//mdi-account-circle
//mdi-receipt
//mdi-account-edit
//mdi-monitor-edit


@font-face {
  font-family: "Material Design Icons";
  src: url("../fonts/materialdesignicons-webfont.eot?v=5.0.45");
  src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=5.0.45") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=5.0.45") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=5.0.45") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=5.0.45") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.mdi:before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-account::before {
  content: "\F0004";
}


.mdi-dark:before {
  color: rgba(0, 0, 0, 0.54);
}

.mdi-dark.mdi-inactive:before {
  color: rgba(0, 0, 0, 0.26);
}

.mdi-18px.mdi-set, .mdi-18px.mdi:before {
  font-size: 18px;
}

.mdi-24px.mdi-set, .mdi-24px.mdi:before {
  font-size: 24px;
}

.mdi-36px.mdi-set, .mdi-36px.mdi:before {
  font-size: 36px;
}

.mdi-48px.mdi-set, .mdi-48px.mdi:before {
  font-size: 48px;
}

.mdi-light:before {
  color: white;
}

.mdi-light.mdi-inactive:before {
  color: rgba(255, 255, 255, 0.3);
}


.mdi-map-marker-radius::before {
  content: "\F0352";
}

.mdi-map-marker-radius-outline::before {
  content: "\F12FC";
}

.mdi-dog::before {
  content: "\F0A43";
}

.mdi-dog-service::before {
  content: "\F0AAD";
}

.mdi-dog-side::before {
  content: "\F0A44";
}

.mdi-gender-non-binary::before {
  content: "\F1140";
}

.mdi-palette-advanced::before {
  content: "\F03D9";
}

.mdi-palette-outline::before {
  content: "\F0E0C";
}

.mdi-palette-swatch::before {
  content: "\F08B5";
}

.mdi-palette-swatch-outline::before {
  content: "\F135C";
}


.mdi-calendar::before {
  content: "\F00ED";
}

.mdi-calendar-account::before {
  content: "\F0ED7";
}

.mdi-calendar-account-outline::before {
  content: "\F0ED8";
}

.mdi-calendar-alert::before {
  content: "\F0A31";
}

.mdi-calendar-arrow-left::before {
  content: "\F1134";
}

.mdi-calendar-arrow-right::before {
  content: "\F1135";
}

.mdi-calendar-blank::before {
  content: "\F00EE";
}

.mdi-calendar-blank-multiple::before {
  content: "\F1073";
}

.mdi-calendar-blank-outline::before {
  content: "\F0B66";
}

.mdi-calendar-check::before {
  content: "\F00EF";
}

.mdi-calendar-check-outline::before {
  content: "\F0C44";
}

.mdi-calendar-clock::before {
  content: "\F00F0";
}

.mdi-calendar-edit::before {
  content: "\F08A7";
}

.mdi-calendar-export::before {
  content: "\F0B24";
}

.mdi-calendar-heart::before {
  content: "\F09D2";
}

.mdi-calendar-import::before {
  content: "\F0B25";
}

.mdi-calendar-minus::before {
  content: "\F0D5C";
}

.mdi-calendar-month::before {
  content: "\F0E17";
}

.mdi-calendar-month-outline::before {
  content: "\F0E18";
}

.mdi-calendar-multiple::before {
  content: "\F00F1";
}

.mdi-calendar-multiple-check::before {
  content: "\F00F2";
}

.mdi-calendar-multiselect::before {
  content: "\F0A32";
}

.mdi-calendar-outline::before {
  content: "\F0B67";
}

.mdi-calendar-plus::before {
  content: "\F00F3";
}

.mdi-calendar-question::before {
  content: "\F0692";
}

.mdi-calendar-range::before {
  content: "\F0679";
}

.mdi-calendar-range-outline::before {
  content: "\F0B68";
}

.mdi-calendar-refresh::before {
  content: "\F01E1";
}

.mdi-calendar-refresh-outline::before {
  content: "\F0203";
}

.mdi-calendar-remove::before {
  content: "\F00F4";
}

.mdi-calendar-remove-outline::before {
  content: "\F0C45";
}

.mdi-calendar-search::before {
  content: "\F094C";
}

.mdi-calendar-star::before {
  content: "\F09D3";
}

.mdi-calendar-sync::before {
  content: "\F0E8E";
}

.mdi-calendar-sync-outline::before {
  content: "\F0E8F";
}

.mdi-calendar-text::before {
  content: "\F00F5";
}

.mdi-calendar-text-outline::before {
  content: "\F0C46";
}

.mdi-calendar-today::before {
  content: "\F00F6";
}

.mdi-calendar-week::before {
  content: "\F0A33";
}

.mdi-calendar-week-begin::before {
  content: "\F0A34";
}

.mdi-calendar-weekend::before {
  content: "\F0ED9";
}

.mdi-calendar-weekend-outline::before {
  content: "\F0EDA";
}


.mdi-account::before {
  content: "\F0004";
}
.mdi-account-circle::before {
  content: "\F0009";
}

.mdi-account-circle-outline::before {
  content: "\F0B55";
}

.mdi-account-edit::before {
  content: "\F06BC";
}

.mdi-account-edit-outline::before {
  content: "\F0FFB";
}

.mdi-receipt::before {
  content: "\F0449";
}

.mdi-monitor-edit::before {
  content: "\F12C6";
}

.mdi-palette::before {
  content: "\F03D8";
}

