$layout-max-width: 85%;
$content-background: #f7f7f7;
$content-additional-padding: 20px;
$app-min-height: 1000px;

// components

// header-footer
$header-height: 60px;
$subheader-height: 60px;
$footer-height: 300px;

$header-background-color: #d3dbf9;
$subheader-background-color: #ffffff;
$footer-background-color: #9f9f9f63;
$footer-color: #00000061;

// navigation
$navigation-passive-color: #00000061;
$navigation-passive-border: 1px solid #e9e9e9;

// block
$block-background: #ffffff;
$block-image-size: 130px;
$block-circle-big: 80px;

// tags
$tag-list-height: 120px;

// distances
$extra-small-distance: 5px;
$small-distance: 10px;
$medium-distance: 20px;
$big-distance: 30px;
$very-big-distance: 50px;

// action-colors
$blank: #ffffff;
$success: #34c38f;
$danger: #f46a6a;
$warning: #f1b44c;
$info: #50a5f1;
$info-dark: #0434ff8c;
$info-faint: #989898;
$text-purple: #6f42c1;
$text-grey: #343a40;


// form
$text-area-height: 100px;

// styled parameters
$app-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
$app-border: 2px solid #edf2f7;
$app-border-big: 4px solid #edf2f7;
$app-border-radius: 20px;
$card-img-width: 200px;
$app-tag-default-color: #edf2f7;
$card-padding: 25px;
$pet-card-tag-height: 210px;
$tab-min-height: 300px;
$dotted-text-width: 200px;

// grid parameters
$app-pagination-size: 36px;

// modal parameters
$modal-max-height: 700px;
$small-modal-width: 30%;
$medium-modal-width: 50%;
$confirmation-actions: 120px;
$confirmation-body: 70px;


// landing parameters
$landing-darker-background: #d3dbf9;
$landing-home-height: 470px;
$landing-text-height: 200px;
$landing-text-width: 300px;
$landing-about-us-padding-xl:250px;
$landing-about-us-height-xl:900px;
$landing-about-us-height-sm:1100px;
$landing-about-us-background: #ffffff;
$landing-achievement-image-width: 400px;
$landing-square-image: 100px;

// logo
$logo-text-color: #15505f;
