

$layout-max-width:                   85%;
$content-background:                 #f7f7f7;
$content-additional-padding:          20px;


// header
$header-height:                      60px;
$subheader-height:                   60px;
$header-color:                       #d3dbf9;
$subheader-color:                    #ffffff;
