$layout-max-width: 85%;
$content-background: #f7f7f7;
$content-additional-padding: 20px;
$app-min-height: 1000px;

// components

// header
$header-height: 60px;
$subheader-height: 60px;
$header-color: #d3dbf9;
$subheader-color: #ffffff;

// styled components
$app-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
$app-border: 2px;
$app-border-radius: 20px;
$card-img-width: 200px;
$app-tag-default-color: #edf2f7;
$pet-card-padding: 25px;
