.footer {
  padding: 20px 12px;
  position: absolute;
  right: 0;
  color: $footer-color;
  left: 0;
  height: $footer-height;
  background-color: $footer-background-color;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
