.footer {
  padding: 20px 12px;
  position: absolute;
  right: 0;
  color: $footer-color;
  left: 0;
  height: $footer-height;
  background-color: $footer-background-color;
}

.footer-key {
  width: 100px;
}

.divided-info {
  div{
    margin: 2px 0;
  }
  a{
    margin: 5px 0;
    :hover{
      cursor: pointer;
      color: $info-dark;
    }
  }
}
