
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  height: $header-height;
  background-color: $header-color;

  > .header-content {
    justify-content: space-between;
    height: 100%;
  }
}

.header-left {
  > img {
  }
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.logo-sm > img {
  width: $header-height;
  height: $header-height;
}

.profile-picture {
  width: 40px;
  background-color: hsla(0, 0%, 100%, .25);
  padding: 4px;
  height: 40px;
}

.subheader {
  position: fixed;
  margin-top: $header-height;
  width: 100%;
  background-color: $subheader-color;
  z-index: 1000;
}


.subheader-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $subheader-height;
  padding: unset !important;

  li {

    margin-right: 50px;
    display: inline;
  }

  li:hover {
    cursor: pointer;
    color: #d3dbf9;
  }
}

.header-button {
  color: $info-dark;
  cursor: pointer;
}
