
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  height: $header-height;
  background-color: $header-background-color;

  > .header-content {
    justify-content: space-between;
    height: 100%;
  }
}

.header-left {
  > img {
  }
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.logo-sm > img {
  width: $header-height;
  height: $header-height;
}

.subheader {
  position: fixed;
  margin-top: $header-height;
  width: 100%;
  background-color: $subheader-background-color;
  z-index: 1000;
}


.subheader-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $subheader-height;
  padding: unset !important;

  li {

    margin-right: $very-big-distance;
    display: inline;
  }

  li:hover {
    cursor: pointer;
    color: $info-dark;
  }
}

.header-button {
  color: $info-dark;
  cursor: pointer;
}
