.nav-link {
  border: $navigation-passive-border !important;
  color: $navigation-passive-color;
}

.nav-item {
  .active {
    background-color: $info-dark !important;
  }
}

.tab-right {
  border-top-right-radius: $very-big-distance !important;
  border-bottom-right-radius: $very-big-distance !important;
}

.tab-left {
  border-top-left-radius: $very-big-distance !important;
  border-bottom-left-radius: $very-big-distance !important;
}

@media only screen and (max-width: 1000px) and (min-width: 880px) {
  .tab-text {
    .mdi {
      display: none;
    }
  }
}


@media only screen and (max-width: 880px) {
  .tab-text {
    .inner-text-overridable {
      display: none;
    }
    .mdi {
      font-size: 20px !important;
    }
  }
}
