.pagination-rounded {
  .page-link {
    border-radius: 30px !important;
    margin: 0 10px;
    width: $app-pagination-size;
    height: $app-pagination-size;
    padding: 0;
    text-align: center;
    line-height: calc(#{$app-pagination-size} - 4px);
    border-width: 2px;
  }
}
