.pet-card-col {
  margin-top: $content-additional-padding;
}

.pet-card-content {
  cursor: pointer;
  background-color: $block-background;
  height: 100%;
  background-repeat: repeat;
  border-radius: $medium-distance;
  padding: $pet-card-padding;
  padding-bottom: 0 !important;

  .card-img-wrap {
    width: fit-content;
    margin: 0 auto;

    > img {
      width: #{$card-img-width};
      height: $block-image-size;
      border-radius: $app-border-radius;
    }
  }

  .pet-card-data {
    margin-top: $medium-distance;

    .card-tags {
      height: $pet-card-tag-height;
    }
  }

  .pet-card-footer {
    display: flex;
    align-items: center;
    padding: $small-distance 0;

    .pet-card-footer-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .pet-card-footer-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: $big-distance;

      div {
      }
    }
  }
}

.card-text {
  margin-bottom: $small-distance;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
