.pet-card-col {
  margin-top: $content-additional-padding;
}

.pet-card-content {
  cursor: pointer;
  background-color: $block-background;
  height: 100%;
  background-repeat: repeat;
  border-radius: $medium-distance;
  padding: $card-padding;
  padding-bottom: 0 !important;

  .card-img-wrap {
    width: fit-content;
    margin: 0 auto;

    > img {
      width: #{$card-img-width};
      height: $block-image-size;
      border-radius: $app-border-radius;
    }
  }

  .pet-card-data {
    margin-top: $medium-distance;

    .card-tags {
      height: $pet-card-tag-height;
    }
  }

  .pet-card-footer {
    display: flex;
    align-items: center;
    padding: $small-distance 0;

    .pet-card-footer-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .pet-card-footer-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: $big-distance;

      div {
      }
    }
  }
}

.card-text {
  margin-bottom: $small-distance;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-top: $small-distance;
}


.pet-card-rectangle {
  .pet-card-rectangle-main {
    padding: $medium-distance;

    .card-img-wrap {
      cursor: pointer;

      > img {
        width: 200px;
        height: 200px;
        border-radius: $app-border-radius;
      }
    }

    .pet-card-content-wrap {
      padding-left: $medium-distance;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      margin-left: $extra-small-distance;

      .card-action-icon {
        cursor: pointer;
        display: flex;
        border: $app-border;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: $extra-small-distance;
        border: $app-border;

        .edit-action:before {
          color: $warning;
        }

        .delete-action:before {
          color: $danger !important;
        }
      }

      .edit-action {
        border-color: $warning !important;
      }

      .delete-action {
        border-color: $danger !important;
      }
    }
  }

  .card-tags {
    border-top: $app-border-big;
    padding: $small-distance $medium-distance;
  }
}

@media screen and (max-width: 700px) {
  .pet-card-rectangle-main {
    flex-direction: column;
  }
  .pet-card-content-wrap {
    padding: 0 !important;
  }
  .card-img-wrap {
    img {
      width: 100% !important;
      height: unset !important;
    }

    margin-bottom: $medium-distance;
  }
  .pet-card-rectangle {
    .card-tags {
      display: none !important;
    }
  }
}
