.block {
  width: fit-content;
}

.shadow-block {
  box-shadow: $app-shadow;
}

.big-block {
  border: $app-border-big;
  border-radius: $app-border-radius;
}

.border-block {
  border: $app-border;
  border-radius: $app-border-radius;
}

.colored-block {
  background: $app-tag-default-color;
}

.tag {
  background-color: $app-tag-default-color;
  border: $app-border;
  border-radius: calc(#{$app-border-radius} * 3);
  width: fit-content;
  padding: 7px;
  height: fit-content;
}

.tag-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 40px);
  grid-row-gap: 3px;
  grid-column-gap: 1em;
  display: grid;
  overflow: hidden;
  max-height: $tag-list-height;

  .tag {
    margin-bottom: $extra-small-distance;
  }
}

.tag-list{
  display: flex;
  flex-direction: row;
  .tag{
    margin-left: $extra-small-distance;
    //margin-left: $extra-small-distance;
  }
}

.profile-block {
  width: 100%;
  min-height: $tab-min-height;
  background: $block-background;
  margin: 0 auto;

  .profile-image-overlay {
    width: 100%;
    height: calc(#{$block-circle-big} - #{$medium-distance} / 2);
    background-color: $success;
    border-radius: $medium-distance $medium-distance 0 0;
    margin-bottom: $big-distance;
  }

  .profile-name-image {
    width: $block-circle-big;
    height: $block-circle-big;
    border-radius: 50%;
    background-color: $header-background-color;
  }
}
