.block {
  width: fit-content;
}

.shadow-block {
  box-shadow: $app-shadow;
}

.border-block {
  border: $app-border;
  border-radius: $app-border-radius;
}

.colored-block{
  background: $app-tag-default-color;
}

.tag {
  background-color: $app-tag-default-color;
  border: $app-border;
  border-radius: calc(#{$app-border-radius} * 3);
  width: fit-content;
  padding: 7px;
  height: fit-content;
}

.tag-list {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 40px);
  grid-row-gap: 3px;
  grid-column-gap: 1em;
  display: grid;
  gap: 0;
  overflow: hidden;
  max-height: 120px;

  .tag {
    margin-bottom: 5px;
  }
}
