.dotted-text {
  .inner-text-overridable {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: $dotted-text-width;
  }
}

.error-text {
  color: $danger;
}

.faint-text {
  color: $info-faint;
}

.center-text {
  text-align: center !important;
}
