.dotted-text {
  .inner-text-overridable {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: $dotted-text-width;
  }
}

.error-text {
  color: $danger;
}

.faint-text {
  color: $info-faint;
}

.white-text{
  color: $blank;
}

.logo-text{
  color: $logo-text-color;
}

.center-text {
  text-align: center !important;
}

.one-line-text {
  .inner-text-overridable {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

}

.five-line-text {
  .inner-text-overridable {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 120px;
  }
}

.unset-list-style{
  color: unset !important;
  text-decoration: auto;
}

