.dotted-text {
  .inner-text-overridable {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: $dotted-text-width;
  }
}

.error-text {
  color: $danger;
}

.faint-text {
  color: $info-faint;
}

.center-text {
  text-align: center !important;
}

.one-line-text {
  .inner-text-overridable {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

}

.five-line-text {
  .inner-text-overridable {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
