.toast-error {
  background-color: rgba((#f46a6a), 0.8) !important;
  border: 2px solid #f46a6a !important;
  box-shadow: none;
}

.toast-success {
  background-color: rgba((#34c38f), 0.8) !important;
  border: 2px solid #34c38f !important;
  box-shadow: none;
}


.toast-info {
  background-color: rgba((#50a5f1), 0.8) !important;
  border: 2px solid #50a5f1 !important;
  box-shadow: none;
}
