.toast-error {
  background-color: rgba(($danger), 0.8) !important;
  border: 2px solid $danger !important;
  box-shadow: none;
}

.toast-success {
  background-color: rgba(($success), 0.8) !important;
  border: 2px solid $success !important;
  box-shadow: none;
}


.toast-info {
  background-color: rgba(($info), 0.8) !important;
  border: 2px solid $info !important;
  box-shadow: none;
}
