.full-tab{
  width: 100%;
  min-height: 470px;
  background: #ffffff;
  padding: $card-padding;
}

@media screen  and (max-width: 768px) {
  .full-tab{
    margin-top: $big-distance;
  }
}
@media screen  and (max-width: 1200px) and (min-width: 768px){
  .md-margin-top{
    margin-top: $big-distance;
  }
}

.code-button{
  width: 190px;
}

.email-code-form{
  margin-top: 20px;
}

.advertisement-list{
  margin: 0 auto;
}
