.content-width{
  max-width: $layout-max-width;
  margin: 0 auto;
}


.content{
  min-height: calc(100vh - #{$header-height});
  padding-bottom: 90px;
  background-color: $content-background;
  padding-top: calc(#{$header-height} + #{$subheader-height} + #{$content-additional-padding});
}

.main{
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

@media screen and (max-width: 500px) {
  .content-width {
    max-width: 90% !important;
  }
}
